.l-Deep  {
  @at-root {
    .l-Deep__img {
      
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }


  li {
    @include u-md {
      overflow: hidden;   
    } 
  }
  .l-Deep__detail {
    width: 40%;
    @include u-sm-max {
      position: static!important;
      width: 100%;
    }
  }

  @include u-md {
    li:nth-child(even) {
      .l-Deep__img {
        margin-right: 40%;
      }
      .l-Deep__detail {
        right: 20%;
      }
    }

    li:nth-child(odd) {
      .l-Deep__img {
        margin-left: 40%;
      }
      .l-Deep__detail {
        left: 20%;
      }
    }

    @at-root {
      .l-Deep__detail {
        @include u-center;
        margin-top: auto;
        margin-bottom: auto;
        height: 70%;
      }
    }
  }
}